<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="maxMessagePerIteration" value="100" />
		<add key="maxHoursIdle" value="3" />
		<add key="connectionString" value="Server=(localdb)\MSSQLLocalDB;Database=MessageHandlerDb;Trusted_Connection=True;" />
	</appSettings>
</configuration>